html {
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.hero-container {
    background-color: #1f2937;
    color: #fff;
    height: 580px;
    flex: 1 0 auto;
    
}

.header {
    display: flex;
    justify-content: space-around;
}

.right-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 8px;

}

a:hover {
    color: #3882f6;
}

.hero-content {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.hero-left {
    width: 500px;
    height: 300px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-paragraph, .header-links {
    font-size: 18px;
    color: #e5e7eb
}

button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    width: 135px;
    height: 35px;
    padding: 5px 12px;
    border-radius: 10px;
}

button:hover {
    background-color: #5e99f8;
}

.hero-btn {
    border: none;
    box-shadow: 3px 3px 10px black;
}

.hero-right{
    padding-top: 0px;
    height: 300px;
    margin-bottom: 50px;
}

img.header-img {
    width: 567px;
    height: 280px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    
}

.info-container {
    height: 300px;
    background-color: #fff;
    color: black;
    font-size:18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 60px;
    padding: 90px 0 150px;
}

.info-header {
    font-size: 36px;
    font-weight:920;
    color: #1f2937;
}

.info-cards-container {
    display: flex;
    justify-content:center;
    gap: 100px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 200px;
}

.card-box {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    display: flex;
    justify-content:center;
    align-items:center;
    box-shadow: 3px 3px 10px black;
}


.quote-container {
    height: 300px;
    padding: 90px 0;
    background-color: #e5e7eb;
    color: black;
    display: flex;
    justify-content:center;
    align-items:center;
}

.quote-content {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 25px;
}

.credit {
    align-self: flex-end;
    padding-right: 30px;
    font-size: 28px;
    font-weight: 700;
}
.call-action-container {
    height: 150px;
    padding: 60px 0;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-card {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 58%;
    padding: 35px 70px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    box-shadow: 3px 3px 10px black;
}

.call-title {
    font-size: 20px;
    font-weight: 600;
}

.call-btn {
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}